

<div class="container-header">
    <header>
        <div class="logo" routerLink="/livros">
            <img src="../../../../assets/logo.png" alt="">
            <p>LIVROTERIA</p>
        </div>
        <div class="campo">
            <input type="text" placeholder="Buscar por titulo, autor, editora..." #input>
            <div class="button" (click)="filtrar(input.value)"> <img src="../../../../assets/search.svg" alt=""></div>
        </div>
    </header>

    <div class="nav">
        <app-nav-bar ></app-nav-bar>
    </div>

    <div class="lista-letras" >
        <div (click)="filtrarPelaInicial(l)" class="item" *ngFor="let l of letras" >
            <p >{{l}}</p>
        </div>
    </div>
</div>
