<div class="container-principal">
    
    <app-filtro-letras></app-filtro-letras>
    <div class="linha">
        <p>Foram encontrados um total de: {{ quantLivros }} livros cadastrados.</p>
    </div>

    <h2 *ngIf="quantLivros > 0">Livros</h2>
    <div class="container">
        <section>
            <app-lista-livros></app-lista-livros>
        </section>
        <aside>
            <app-filtro></app-filtro>
            <app-lista-recentes></app-lista-recentes>
        </aside>
    </div>
</div>
<app-footer></app-footer>