<div class="main">
    <div class="linha">
        <p>Foram encontrados um total de: {{quantLivros}} livros cadastrados</p>
    </div>

    <h2>Livros</h2>
    <div class="box">
        <div class="box-lista"> 
            <app-lista-livros></app-lista-livros>
        </div>
        <aside>
            <div class="filter"> 
                <app-filtro></app-filtro>
                <app-lista-recentes></app-lista-recentes>
            </div>
        </aside>
    </div>
</div>
<app-footer></app-footer>
