
  <div [ngClass]="mudarModoVisualizacao()">
    <app-livro *ngFor="let livro of livros  | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
    let i = index"
     [livro]="livro"
     [modoLista]="modoLista"
     @list
     ></app-livro>
  </div>


<div class="paginacao" *ngIf="livros.length > 0">
  <pagination-controls 
    previousLabel="Ante." 
    nextLabel="Prox."
    (pageChange)="onTableDataChange($event)"
  ></pagination-controls>
</div>