<div class="box">
    <div class="box-filtro">
        <h2>Filtragem rápida</h2>
        <div class="filtros">
            <div class="item">
                <span>Genero </span><span class="bold">Todos</span>
            </div>
            <div class="item">
                <span>Data </span><span class="bold">Todos</span>
            </div>
            <div class="item">
                <span>Editora </span><span class="bold">Todos</span>
            </div>
            <div class="item">
                <span>Edicao </span><span class="bold">Todos</span>
            </div>
            <div class="item">
                <span>Paginas </span><span class="bold">Todos</span>
            </div>
        </div>
        <input type="text" placeholder="Procurar...">
    </div>
    <button> <img src="../../../../assets/filter.svg" alt=""> <p>Filtrar</p> </button>
</div>


