<div class="box">
    <div class="box-filtro">
        <h2>Filtragem rápida</h2>
        <div class="filtros">
            <div class="item">
                <span>Editora </span><span class="bold">todas</span>
            </div>
            <div class="item">
                <span>Autor </span><span class="bold">Listar</span>
            </div>
            <div class="item">
                <span>paginas </span><input type="text"> à <input type="text">
            </div>
            <div class="item">
                <span>Edicao:</span>
            </div>
            <div class="item">
                <span>Ano: </span><input type="text"> à <input type="text">
            </div>
        </div>
        <input type="text" placeholder="Procurar...">
    </div>
    <button> <img src="../../../../assets/filter.svg" alt=""> <p>Filtrar</p> </button>
</div>


