<div class="container">
    <div class="container-filtro">
        <h2>Filtragem rápida</h2>
        <form class="filtros" (ngSubmit)="filtrar(f)" #f="ngForm">
            
            <div class="item">
                <span>Editora:  </span> 
                <input 
                type="text"
                name="editora" 
                placeholder="Ex: Moderna"
                id="editora" 
                ngModel
                maxlength="150"
                > 
            </div>
            <div class="item">
                <span>Autor: </span>
                <input 
                type="text"
                name="autor"
                placeholder="Ex: Agatha"
                id="autor" 
                ngModel
                maxlength="100"> 
            </div>
            <div class="item">
                <span>Páginas </span>
                <input 
                type="text" 
                placeholder="Min" 
                ngModel 
                name="qtPagMin"
                max="20"
                min="0">
                 à 
                <input 
                type="text" 
                placeholder="Max" 
                ngModel 
                name="qtPagMax"
                max="20"
                min="0">
            </div>
            <div class="item">
                <span>Edicao: </span>
                <input 
                type="text" 
                placeholder="Min"
                ngModel
                name="edicaoMin"
                max="10000"
                min="0"> 
                à 
                <input 
                type="text"
                placeholder="Max" 
                ngModel 
                name="edicaoMax"
                max="10000"
                min="0">
            </div>
            <div class="item">
                <span>Ano: </span>
                <input 
                type="text" 
                placeholder="Min" 
                ngModel 
                name="anoMin"> 
                à 
                <input 
                type="text" 
                value="2022" 
                placeholder="Max" 
                ngModel
                name="anoMax">
            </div>

            <input type="text" placeholder="Título..." name="titulo" ngModel>
            <button type="submit"  [disabled]="!f.valid"> 
                <img src="../../../../assets/filter.svg" alt=""> <p>Filtrar</p> 
            </button>
        </form>   
    </div>
    
</div>


