.nav-container {
    display: flex;
    list-style: none;
    margin-left: 20px;
    text-decoration: none;

    li {
        padding: 7.3px 20px;

        a {
            padding: 20px;
            text-decoration: none;
            color: #fff;
        }

        &:hover {
            border: 1px solid #000;
            opacity: 0.8;
        }
    }

}

.active {
    border: 1px solid #000;
    text-decoration: underline;
}