.container-livro {
    border: 1x solid gray;
    padding: 10px;
    box-shadow: 0 0 4px gray;
    max-height: 330px;
    min-height: 330px;
    overflow-y: scroll;
    max-width: 200px;

    &:hover {
        box-shadow: 0 0 6px var(--primaria);
    }

    img {
        height: 230px;
        width: 160px;
        padding: 0px 24px;

    }

    .titulo {
        padding: 5px 0px;
        font-size: 15px;

        .edicao {
            font-size: 13px;
        }
    }

    .detalhes {
        padding-top: 10px;
        color: rgb(153, 152, 152);
        font-size: 12px;

        .destaque:hover {
            color: var(--primaria);
            cursor: pointer;
        }
    }
}