
<div class="box-livro">
    <img [src]="livro?.imagem" alt="">
    <div class="descricao">
        <div class="titulo">
            <span>{{livro?.titulo}} </span>
            <span>({{livro?.subtitulo}})</span>
            <span class="edicao"> ({{livro?.edicao}}ª edicao)</span>
        </div>
        <div class="detalhes">
            <p><span class="destaque">{{livro?.autores}}</span> por </p>
            <p> <span class="destaque">{{livro?.editora}}</span></p>
        </div>
    </div>
</div>