
<div class="box-livro" >
    <app-livro-detalhe *ngIf="mostrarDetalhe" (onClose)="mostrarDetalhes()" [livroDetalhe]="livro"></app-livro-detalhe>

    <img [src]="livro?.imagem" alt="" (click)="mostrarDetalhes()">
    <div class="descricao">
        <div class="titulo">
            <span>{{livro?.titulo}} </span>
            <span>({{livro?.subTitulo}})</span>
            <span class="edicao"> ({{livro?.edicao}}ª edicao)</span>
        </div>
        <div class="detalhes">
            <span *ngFor="let autor of livro?.autores">
                <span class="destaque">{{autor.nome}}(Autor)</span>, 
            </span> <span> por </span>
            <p> <span class="destaque" >{{livro?.editora}} (Editora)</span></p>
        </div>
    </div>
</div>

