<div id="fundo" (click)="fecharTelaEdit()"></div>

<div class="box" >
    <div class="linha">
        <h1>Editar Livro</h1>
        <p>Edição dos dados do livro Selecionado. </p>
        <p class="aviso" *ngIf="!f.valid"> Os campos com (*) são obrigatórios</p>
    </div>

    <div class="box-editar">

        <form (ngSubmit)="atualizarItem()" #f="ngForm">

            <div class="item">
                <input 
                    type="text"
                    id="titulo" 
                    placeholder="Título*" 
                    name="titulo"
                    ngModel
                    required
                    maxlength="100"
                    >
            </div>
            <div class="item">
                <input 
                    type="text"
                    id="subTitulo"
                    placeholder="Subtítulo"
                    name="subTitulo"
                    ngModel
                    maxlength="100"
                    >
            </div>
            <div class="item">
                <p class="alerta" *ngIf="f.value.edicao > 20">*Valor entre 0 e 20</p>
                <input 
                    type="number" 
                    id="edicao" 
                    placeholder="Edicao" 
                    name="edicao"
                    ngModel
                    max="20"
                    min="0"
                    >
            </div>
            <div class="item">
                <input 
                    type="date" 
                    id="dataPublicacao" 
                    placeholder="Data de publicacao*"
                    name = "dataPublicacao"
                    ngModel
                    required
                    >
            </div>
            <div class="item">
                <p class="alerta" *ngIf="f.value.quantPaginas > 10000 || f.value.quantPaginas < 0">*Valor entre 0 e 10000</p>
                <input 
                    type="number" 
                    id="quantPaginas" 
                    placeholder="Quantidade Páginas*"
                    name ="quantPaginas"
                    ngModel
                    required
                    max="10000"
                    min="0"
                    >
            </div>
            <div class="item">
                <input 
                    type="text" 
                    id="autor" 
                    placeholder="Autor;Autor2;Autor3...*" 
                    name="autor"
                    ngModel
                    required
                    maxlength="150"
                    >
            </div>
            <div class="item">
                <input 
                    type="text" 
                    id="editora" 
                    placeholder="Editora*" 
                    name="editora"
                    ngModel
                    required
                    maxlength="150"
                    >
            </div>
            <textarea
                name="Text1" 
                cols="60" rows="5" 
                placeholder="Resumo"
                name = "resumo"
                ngModel
                maxlength="500"
                
            ></textarea>

            <div class="box-imagem">
                <img [src]="imagemView" alt="Vazio ou Imagem Inválida">
    
                <div class="input-imagem">
                    <input 
                    type="text" 
                    id="file-string" 
                    ngModel
                    name="imagem"
                    placeholder="Url Imagem"
                    #imagem
                    (mouseleave)="atualizarImagemView(imagem.value)"
                    >
                </div>
            </div>

            <div class="button">
                <button type="submit"  [disabled]="!f.valid">Atualizar</button>
            </div>
        </form>

        
        
    </div>



</div>