.container {
    background-color: var(--primaria);
    height: 30px;
    text-align: center;
    font-size: 1.2em;
    padding-top: 10px;

    a {
        text-decoration: none;
        color: #fff;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        opacity: 0.9;
    }
}