.lista-letras{
    justify-content: center;
    display: flex;
    padding-top: 3px;
    gap: 8px;
    background-color: var(--background);
    .item{
        font-size: 0.8em;
        padding: 5px 7px;
        border-radius: 4px;
        background-color:var(--backgroundDiv);
        font-weight: bold;
        &:hover{
            cursor: pointer;
            background-color: var(--primaria);
        }
    }
    
    @media (max-width: 740px) {
        display: none;
        
    }
}