<div class="box">
    <div class="box-lista">
        <h2>Ultimos adicionados</h2>
        
        <div class="lista">

            <div class="item" *ngFor="let livro of livrosRecentes">
                <img [src]="livro.imagem" alt="">
                <div class="info">
                    <p>{{livro.titulo}}({{livro.edicao}}ªEdicao)</p>
                    <span class="autor" *ngFor="let autor of livro.autores">autor,  </span>
                    <span class="autor">por</span>
                    <p class="autor">{{livro.editora}}</p>
                </div>
            </div>
            
        </div>
</div>
