
.box{
    .linha{
        padding: 20px;
        text-align: center;
        h1{
            color: var(--primaria);
            padding-bottom: 5px;
        } 
        .aviso{
            font-size: 0.7em;
            padding-left: 350px;
            color: var(--error);
        }
    }
    .box-cadastro{
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        .alerta{
            position: absolute;
            font-size: 0.7em;
            color: var(--error);
        }
        .box-imagem{
            border: 1px gray solid;
            padding: 10px 20px 10px 20px;
            img{
                width: 250px;
                height: 350px;
            }

            .input-imagem{
                input#file-img{
                    margin-top: 10px;
                    width: 250px;
                    color: var(--primaria);
                    &::-webkit-file-upload-button{
                        background-color: var(--primaria);
                        border: none;
                        height: 1.9em;
                    }
                }
                input#file-string{
                    margin-top: 10px;
                    color: var(--primaria);
                    width: 240px;
                    height: 32px;
                    background-color: #5fbedd58;
                    border: none;
                    padding-left: 12px;
                    font-size: 15px;
                    &::placeholder{
                        color: var(--primaria);
                    }
                    &:focus{
                        box-shadow: 0 0 6px var(--primaria);
                    }
                }
            }
        }

        .box-formulario{
            margin-top: -30px;
            .form-superior{
                display: flex;

                .edicao{
                    display: flex;
                    margin: 12px;
                    input{
                        width: 35px;
                    }
                    span{
                        margin-top: 20px;
                        margin-left: -17px;
                    }
                }
            }
            .form-inferior{
                display: flex;
                margin-top: -12px;
                margin-left: 15px;
                .data{
                    display: flex;
                    margin-left: 80px;
                    span{
                        padding-top: 20px;
                        color: var(--primaria);
                        font-size: 0.9em;
                    }
                }
                
            }
            input{
                display: block;
                color: var(--primaria);
                width: 310px;
                height: 32px;
                margin: 12px 20px;
                background-color: #5fbedd58;
                border: none;
                padding-left: 12px;
                font-size: 15px;

                &#titulo{
                    width: 430px;
                }
                &#autor{
                    width: 430px;
                }
                
                &#qtPag{
                    width: 80px;
                    padding-left: 5px;
                }
                &#data{
                    margin-left: 5px;
                    width: 130px;
                }
                &::placeholder{
                    color: var(--primaria);
                }
                &:focus{
                    box-shadow: 0 0 6px var(--primaria);
                }
            }
            textarea{
                color: var(--primaria);
                background-color: #5fbedd58;
                padding: 5px;
                border: none;
                margin-left: 22px;
                font-size: 15px;
                &::placeholder{
                    color: var(--primaria);
                }
                &:focus{
                    box-shadow: 0 0 6px var(--primaria);
                }
            }

            button{
                background-color: #5fbedddb;
                width: 400px;
                height: 50px;
                border-radius: 4px 4px 4px 4px;
                border: none;
                font-size: 23px;
                margin-top: 15px;
                justify-content: center;
                align-items: center;
                margin-left: 30px;

                 &:hover{
                    cursor: pointer;
                    opacity: 0.9;
                }
            }
           
        }

    }
}