.container {
    position: absolute;
    height: 300px;
    background-color: #161621;
    border: 1px solid gray;
    border-radius: 3px;
    overflow-y: scroll;
    max-height: 320px;
    min-width: 500px;
    max-width: 600px;

    .acoes {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        padding-right: 20px;
        margin-top: 5px;

        .button {
            background-color: var(--secundaria);
            width: 30px;
            height: 20px;
            border-radius: 4px;
            border: 1px solid;

            &:hover {
                border: 1px solid rgb(72, 72, 72);
                box-shadow: 0 0 6px var(--primaria);
                cursor: pointer;
                opacity: 0.8;
            }

            img {
                margin-left: 5px;
            }
        }
    }

    .conteudo {
        display: flex;

        .container-imagem {
            padding: 10px;
            margin: 10px;
            border: 1px solid gray;
            border-radius: 4px;
            max-height: 250px;

            img {
                width: 150px;
                height: 230px;
            }
        }

        .detalhes {
            margin-top: -7px;
            min-width: 120px;

            .titulo {
                padding: 5px;
                font-size: 18px;
                min-width: 120px;
                max-width: 300px;
            }

            .publicacao {
                padding: 15px;
                font-size: 0.8em;
                color: gray;
                line-height: 20px;
                min-width: 120px;
            }

            .resumo {
                border: 1px gray solid;
                border-radius: 4px;
                font-size: 0.9em;
                color: rgb(78, 78, 78);
                width: 93%;
                min-width: 120px;
                height: 90px;
                padding: 5px;
                margin-top: -13px;
                max-height: 85px;
                overflow-y: scroll;
            }
        }
    }

    @media (max-width: 780px) {
        position: fixed;
        top: 20%;
        left: 5%;
    }
}