

.box{
    position: absolute;
    width: 520px;
    height: 300px;
    max-height: 320px;
    background-color: #161621;
    border: 1px solid gray;
    border-radius: 3px;
    max-height: 320px;
    overflow-y: scroll;

    .acoes{
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        padding-right: 20px;
        margin-top: 5px;
        .button{
            background-color: var(--secundaria);
            width: 30px;
            height: 20px; 
            border-radius: 4px;
            border: 1px solid;
            &:hover{
                border: 1px solid rgb(72, 72, 72);
                box-shadow: 0 0 6px var(--primaria);
                cursor: pointer;
                opacity: 0.8;
            }
            img{
                margin-left: 5px;
            }
        }
    }
    .conteudo{
        display: flex;
        .box-imagem{
            padding: 10px;
            margin: 10px;
            border: 1px solid gray;
            border-radius: 4px;
            img{
                width: 150px;
                height: 230px;
            }
        }

        .detalhes{
            margin-top: -10px;
            .titulo{
                padding: 5px;
                padding-top: 20px;
                font-size: 18px;
            }

            .publicacao{
                padding: 15px;
                font-size: 0.8em;
                color: gray;
                line-height: 20px;
            }
            .resumo{
                border: 1px gray solid;
                border-radius: 4px;
                font-size: 0.9em;
                color: rgb(78, 78, 78);
                width: 93%;
                height: 90px;
                padding: 5px;
                margin-top: -13px;
            }
        }
    }
}
