

<div class="container" (mouseleave)="fecharDetalhe()">
    <div class="acoes">
        <div class="button" (click)="abrirEdit()"> <img src="../../../../assets/edit.svg" alt=""></div>
        <div class="button" (click)="deletarLivro()"> <img src="../../../../assets/delete.svg" alt=""></div>
    </div>
    <div class="conteudo">
        <div class="container-imagem">
            <img [src]="livroDetalhe?.imagem" alt="">
        </div>
        <div class="detalhes">
            <div class="titulo">
                <span> {{livroDetalhe?.titulo}}</span>
                <span *ngIf="livroDetalhe.subTitulo.length > 0"> ({{livroDetalhe?.subTitulo}})</span>
                 <span *ngIf="livroDetalhe.edicao > 0">({{ livroDetalhe?.edicao }}ª edicao)</span>
            </div>
            <div class="publicacao">
                <span>Autor: </span>
                <span *ngFor="let autor of livroDetalhe?.autores">{{autor.nome}}, </span>
                <p>Editora: {{livroDetalhe?.editora}}</p>
                <p>Data Publicacao: {{livroDetalhe?.dataPublicacao}}</p>
                <p>Quantidade páginas: {{livroDetalhe?.quantPaginas}}</p>
    
            </div>
            <div class="resumo">
                <p>Resumo: {{livroDetalhe?.resumo}}</p>
            </div>
        </div>
    </div>
   
</div>
