:root {
  --primaria: #5fbedd;
  --background: #1c1c29;
  --backgroundDiv: #161621;
  --error: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  --webkit-font-smoothing: antialiased;
}